.header {
    display: "flex";
}
.logoWrapper {
    color:"white";
    font-weight: "bold";
    font-size:"18px";
    cursor:"pointer";
}
.logo {
    width:"25px";
    margin-right:"10px";
}
.menu{
    border-bottom: 'none';
    background-color: 'transparent';
    display: 'flex';
    align-items: 'flex-end';
    flex: 1
}
.headerEnd{
    display: 'flex';
    align-items: 'center';
    padding-right: 5;
}